Variadic Functions

In [1]:
def add(x,y):
    '''
    Inputs: Takes 2 inputs x and y
    Outputs: Returns one output that contains sum of x and y
    '''
    add_2 = x+y
    return add_2

In [2]:
#add(23,45,67,43)

In [3]:
def add(*args):
    for i in args:
        print(i)

In [4]:
add(23,45,67,43)

23
45
67
43

In [5]:
def add(*args):
    s = 0
    for i in args:
        s = s+i
        # args = 23,45,67,43
        # i=0, s=0+23=23
        # i=1,s=23+45 = 68
        #i=2, s=68+67=135
        #i=3,s=135+43=178
    return s  #178

In [6]:
sum_args = add(23,45,67,43)
print(sum_args)

178

In [7]:
sum_a1 = add(25)
print(sum_a1)

25

In [8]:
def multiply(x,*args):
    p = 1
    for i in args:
        p = p*i
    return f"product performed by {x} is {p}"

In [9]:
m1 = multiply("sindhu",2,3,4,10)
m1

'product performed by sindhu is 240'

In [10]:
def multiply_2(x,*args):
    p = 1
    for i in args:
        p = p*i
    welcome = f"Welcome {x}"
    return f"{welcome} : product of the provided data is {p}"

In [11]:
def multiply_2(x,*args):
    p = 1
    for i in args:
        p = p*i
    welcome = f"Welcome {x}"
    return f"{welcome} : product of the provided data is {p}"

In [12]:
m2 = multiply_2("sindhu",3,67,10,10)

In [13]:
m2

'Welcome sindhu : product of the provided data is 20100'

## Scenario: I have lists of data ready with me. I want to add a value to each list(append)
### emp_data_1 = [101,"Raman"]
emp_data_2 = [102,"Suman"]

These 2 employees are working for "IT" department.
Write a Function that takes lists as input and appends department details to both the lists

In [14]:
def appenddata(dept,*lists):
    '''
    Takes multiple lists as inputs and appends dept data to each list
    '''
    for l in lists:
        l.append(dept)

In [15]:
emp_data_1 = [101,"Raman"]
emp_data_2 = [102,"Thaman"]

In [16]:
appenddata("IT",emp_data_1,emp_data_2)

In [17]:
emp_data_1

[101, 'Raman', 'IT']

In [18]:
emp_data_2

[102, 'Thaman', 'IT']

## Keyword arguments

In [19]:
def func1(**kwargs):
    print(type(kwargs))

In [20]:
func1(id=101)

<class 'dict'>

In [21]:
dct = {
    "id":101
}

In [22]:
type(dct)

dict

In [23]:
dct.keys()

dict_keys(['id'])

In [24]:
dct.values()

dict_values([101])

In [25]:
# key value pair
dct.items()

dict_items([('id', 101)])

In [26]:
def func1(**kwargs):
    print(type(kwargs))
    print(kwargs.items())

In [27]:
func1(id=101,name="Raman",salary=35000)

<class 'dict'>
dict_items([('id', 101), ('name', 'Raman'), ('salary', 35000)])

In [28]:
func1(id=202,name="Suman")

<class 'dict'>
dict_items([('id', 202), ('name', 'Suman')])

In [29]:
emp_data_1

[101, 'Raman', 'IT']

In [30]:
emp_data_2

[102, 'Thaman', 'IT']

In [31]:
emp_data_3 = [103,"Suman","HR",35000,"Suman@gmail.com"]

In [32]:
def data_lengths(**kwargs):
    dct = {}
    for key,value in kwargs.items():
        dct[key] = len(value)
        # **kwargs: emp1=emp_data_1,emp2=emp_data_2,emp3=emp_data_3
        #1 key=emp1,value=emp_data_1
        # dct[emp1]=len(emp_data_1)
        # this process will repeat 3times
    return dct # dct[emp1]=3,dct[emp2]=3,dct[emp3]=5 
    # {emp1:3,emp2:3,emp3:5}

In [33]:
len_data = data_lengths(emp1=emp_data_1,emp2=emp_data_2,emp3=emp_data_3)
len_data

{'emp1': 3, 'emp2': 3, 'emp3': 5}

In [34]:
# If you are providing args and kwargs together, you must give args first 
def count_args(*args,**kwargs):
    return (len(args),len(kwargs))

In [35]:
count_args(1,2,3,name="Baman")

(3, 1)

In [36]:
count_args(1,4,10,name="Baman",id=102,email="baman@gmail.com")

(3, 3)

## Scenario: Write a function that determines whether a student has passed or failed the exam

In [37]:
def student_passfail(**kwargs):
    '''
    Takes name and marks for multiple students as input.
    Prints whether the student has passed/failed the exam
    '''
    for name,marks in kwargs.items():
        if marks>=35:
            pf = "Passed"
        else:
            pf = "Failed"
        print(f"Hi {name}, You have {pf}")

In [38]:
student_passfail(Raman=34,Thaman=89,Suman=56,Baman=33,Naman=89,Varman=98)

Hi Raman, You have Failed
Hi Thaman, You have Passed
Hi Suman, You have Passed
Hi Baman, You have Failed
Hi Naman, You have Passed
Hi Varman, You have Passed

In [40]:
def student_passfail2(**kwargs):
    '''
    Takes name and marks for multiple students as input.
    Return dictionary that contains info of the student, whether he/she has passed/failed the exam
    '''
    dct = {}
    for name,marks in kwargs.items():
        if marks>=35:
            pf = "Passed"
        else:
            pf = "Failed"
        dct[name] = pf
    return dct

In [41]:
passfail_data = student_passfail2(Raman=34,Thaman=89,Suman=56,Baman=33,Naman=89,Varman=98)
passfail_data

{'Raman': 'Failed',
 'Thaman': 'Passed',
 'Suman': 'Passed',
 'Baman': 'Failed',
 'Naman': 'Passed',
 'Varman': 'Passed'}

In [42]:
for i,j in passfail_data.items():
    print(f"Hi {i}, You have {j}")

Hi Raman, You have Failed
Hi Thaman, You have Passed
Hi Suman, You have Passed
Hi Baman, You have Failed
Hi Naman, You have Passed
Hi Varman, You have Passed

## Create a user profile based on details provided to the function

In [43]:
user_data = {
    "Username":"Raman",
    "Full Name": "Raman GK",
    "Age":34,
    "Location":"Pune"
}

In [44]:
user_data["Username"]

'Raman'

In [45]:
user_data["Age"]

34

In [46]:
def create_user(**kwargs):
    profile = {}
    profile["username"] = kwargs["Username"]
    profile["Full Name"] = kwargs["FullName"]
    profile["Age"] = kwargs["age"]
    profile["Location"] = kwargs["location"]
    return profile

In [47]:
user_profile = create_user(Username="Raman",FullName="Raman GK",age=56,location="Kolhapur")
user_profile

{'username': 'Raman',
 'Full Name': 'Raman GK',
 'Age': 56,
 'Location': 'Kolhapur'}

In [48]:
def create_user_2(**kwargs):
    profile = {}
    for key,value in kwargs.items():
        profile[key] = value
    return profile

In [49]:
user_profile_2 = create_user_2(Username="Raman",FullName="Raman GK",age=56,location="Kolhapur")
user_profile_2

{'Username': 'Raman',
 'FullName': 'Raman GK',
 'age': 56,
 'location': 'Kolhapur'}